---
layout: default
---

<article class="work">

  <h1>{{ page.title }}</h1>

  {%- include media.html -%}

  <h2 class="instrumentation-title">Instrumentation</h2>
  <div class="instrumentation">{{ page.instrumentation }}</div>

  {%- if page.duration -%}
    <h2 class="duration-title">Duration</h2>
    <div class="duration">
      {{ page.duration }}
    </div>
  {%- endif -%}

  {%- if page.commissioned_by or page.written_for or page.premiered_at or page.premiered_on or page.premiered_by -%}
    <h2 class="performance-title">Performance Information</h2>
    {%- if page.commissioned_by -%}
      <div class="commission">
        Commissioned by <span class="commissioned_by">{{ page.commissioned_by }}</span>
      </div>
    {%- endif -%}
    {%- if page.written_for -%}
      <div class="written-for">
        Written for <span class="written-for">{{ page.written_for }}</span>
      </div>
    {%- endif -%}
    {%- if page.premiered_at or page.premiered_on or page.premiered_by -%}
      <div class="premier">
        Premiered
        {%comment%}
          There's probably a better way of forcing a space between words than {{ " " }},
          but hey, it works and it's concise.
        {%endcomment%}
        {%- if page.premiered_on -%}
          {%- assign date_format = site.composer.premier_date_format | default: "%B %-d, %Y" -%}
          {{ " " }}on <span class="premiered-on">{{ page.premiered_on | date: date_format }}</span>
        {%- endif -%}
        {%- if page.premiered_by -%}
          {{ " " }}by <span class="premiered-by">{{ page.premiered_by }}</span>
        {%- endif -%}
        {%- if page.premiered_at -%}
          {{ " " }}in <span class="premiered-at">{{ page.premiered_at }}</span>
        {%- endif -%}
      </div>
    {%- endif -%}
  {%- endif -%}

  {%- if page.score_url -%}
    <h2 class="score-title">Score</h2>
    <div class="score">
      View the <a href="{{ page.score_url | relative_url }}">score</a>
    </div>
  {%- endif -%}
  
  <h2 class="program-note-title">Program Notes</h2>
  <div class="program-note">
    {{ content }}
  </div>

</article>
